.container2 h2{
    text-align: center;
}
.containerform{
    width: 20%;
    margin: auto;
    margin-top: 14em;
}
.containerform2 {
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

.center-container {
    width: 50%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 1em;
    height: 45em;
    background-image: linear-gradient(black, #18161a, #5B4A6F);

}

/****Cart Page****/
.my_custom_table {
	min-width: 400px;
	font-size: 14px;
}
.my_custom_thead {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	background-color: #f8f9fa!important;
}
.custom_image {
	width: 100px;
	height: 100px;
}
.custom_a {
	text-decoration: none;
}
.custom_icon {
	text-decoration: none;
	color: #868e96 !important;
}
.my_custom_button {
	margin-top: 5px;
}
