.container2 h2{
    text-align: center;
}
.containerform{
    width: 20%;
    margin: auto;
    margin-top: 14em;
}
.containerform2 {
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

.center-container {
    width: 50%;
    margin: auto;
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 1em;
    height: 45em;
    background-image: linear-gradient(black, #18161a, #5B4A6F);

}