{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to ConcertFinder. Book concert tickets to any artist here
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
{{ category.name }} - ConcertFinder
{% else %}
See Our List of Concerts - ConcertFinder
{% endif %}
{% endblock %}
{% block content %}
<!--Breadcrumb navigation-->
{% if category %}
<div class="row my_row_class">
    <div class="mx-auto">
        <p><a class="text-decoration-none text-dark" href="{% url 'concert:all_artists' %}">Concert Lists</a> | {{category.name}}</p>
    </div>
</div>
{% endif %}
<div>
    {% if category %}
    <img class="mx-auto d-block" src="{{category.image.url}}" height="400" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-center">{{category.description}}</p>
</div>
{% else %}
<img src="{% static 'images/concertbanner.jpg' %}" alt="" height="350" width="1520" class="mx-auto d-block rounded mt-4">
</div>
<br>
<div class="text-center">
    <h1>Artist List</h1>
    <p>Book concert tickets to any of your favourite artists. Tickets are selling almost everyday so come book now!</p>
</div>
{% endif %}
<div>
    <div class="row">
        {% for artist in art %}
        <div class="col-sm-3">
            <div class="card mt-3 ms-4" style="width:350px">
                <a class="img" href="{{artist.get_absolute_url}}"><img src="{{artist.image.url}}" alt="{{artist.name}}" width="300" height="300" class="mx-auto d-block mt-3"></a>
                <div class="card-body">
                    <h4 class="text-center">{{artist.name}}</h4>
                    <p class="text-center">{{artist.concert_date}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if art.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in art.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn btn-light btn-sm {%
                    if artists.number == pg %}active{% endif
                    %}">{{pg}}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}