{% extends "base.html" %}
{% load static %}
{% block metadescription %}
We have a variety of concerts held by different artists.
{% endblock %}
{% block title %}
Search - Concert Finder
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for: <b>"{{ query }}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for artist in artist_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-
 12 col-lg-4">
            <div class="card text-center" style="min-width: 18rem;">
                <a href="{{artist.get_absolute_url}}"><img class="card-img-top my_image" src="{{artist.image.url}}"
                        alt="{{artist.name}}"></a>
                <div class="card-body">
                    <h4>{{artist.name}}</h4>
                    <p>€{{artist.ticket_price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 results found.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}