{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="bg-dark mt-3 mb-5">
        <img src="{% static 'images/cflogo.jpg' %}" alt="" class="mx-auto d-block rounded-circle p-1" width="150">
    </div>
    <div>
        <img src="{% static 'images/concertbanner.jpg' %}" alt="" height="350" width="1850" class="mx-auto d-block rounded">
        {% if user.is_authenticated %}
            <div class="bg-success text-white text-center container-md rounded-bottom p-1">
                <a href="{% url 'concert:all_artists' %}" class="text-decoration-none text-white">See all tickets</a>
            </div>
        {% else %}
            <div class="bg-success text-white text-center container-md rounded-bottom p-1">
                <a href="{% url 'login' %}" class="text-decoration-none text-white">(Login to see all tickets)</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}